/* Настройка */
body {
    font-family: Signika;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: url(../img/background1.png) no-repeat center center fixed;
    background-size: cover;
    }


.fr{
/*Расположение */
position: absolute;
width: 211px;
height: 26px;
left: 115px;
top: 35px;
color: #FFFFFF;
}

.fr1{
    /*Расположение1 */
    position: absolute;
    width: 211px;
    height: 26px;
    left: 570px;
    top: 15px;
    font-size: 10px;
    color: white
}

.fr2{
    /*Расположение2 */
    position: absolute;
    width: 211px;
    height: 26px;
    left: 825px;
    top: 15px;
    font-size: 10px;
    color: white
}

.fr3{
    /*Расположение3 */
    position: absolute;
    width: 211px;
    height: 26px;
    left: 1010px;
    top: 15px;
    font-size: 10px;
    color: white
}

.fr4{
    /*Расположение4 */
    position: absolute;
    width: 211px;
    height: 26px;
    left: 1250px;
    top: 15px;
    font-size: 10px;
    color: white
}

.fr5{
    /*Расположение4 */
    position: absolute;
    height: 26px;
    left: 815px;
    top: 490px;
    font-size: 30px;
    color: white
}

.fortimage{
    position: absolute;
    width: 127px;
    height: 132px;
    left: -5px;
    top: 15px;
}


.fon {
    position: absolute;
    width: 1433px;
    height: 732px;
    left: 0px;
    top: 8px;
    
    filter: blur(2px), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
 
    .lypa {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 1322px;
        top: 45px;

    }

.armapng {
    position: absolute;
width: 340px;
height: 202px;
left: 175px;
top: 620px;
border-radius: 40px;
    }
 
    .arma3{
        position: absolute;
        text-align: center;
left: 175px;
top: 185px;
 }
 
 /*ПОИСК */
 
    {box-sizing: border-box;}
    form {
      position: relative;
      width: 800px;
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.45);
      border-radius: 40px;
      top: 50px;
    }
    input, button {
      border: none;
      outline: none;
      background: transparent;
      color: #FFFFFF;
    }
    input {
      width: 70%;
      height: 40px;
      padding-left: 10px;
    }

    input::-webkit-input-placeholder {
        color: white; 
        font-style: italic; 
        font-size: 20px;
      }
